* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  overflow-x: hidden;
  position: relative;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.logo {
  color: #FF8886;
  font-weight: bold;
  font-size: 20px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #444;
}

/* Hero */
.hero {
  padding: 100px 60px;
  max-width: 600px;
}

.hero h1 {
  font-size: 60px;
  color: #3f4a3c;
  line-height: 1.2;
}

.hero span {
  color: #FF8886;
}

.hero p {
  margin-top: 20px;
  color: #7a845c;
  font-size: 20px;
}

button {
  margin-top: 30px;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background: #F9A36D;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

/* BLOBS */
.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.7;
  z-index: -1;
}

.blob1 {
  width: 400px;
  height: 400px;
  background: #FF8886;
  top: 20%;
  left: 30%;
}

.blob2 {
  width: 350px;
  height: 350px;
  background: #F9A36D;
  bottom: 10%;
  left: 50%;
}

.blob3 {
  width: 300px;
  height: 300px;
  background: #A5B67E;
  top: 40%;
  right: 10%;
}
/* SEÇÕES GERAIS */
section {
  padding: 120px 60px;
}

/* SOBRE */
.sobre {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.sobre h2 {
  font-size: 40px;
  color: #3f4a3c;
}

.sobre p {
  margin-top: 20px;
  font-size: 20px;
  color: #7a845c;
  line-height: 1.6;
}

/* CONTATO */
.contato {
  text-align: center;
}

.contato h2 {
  font-size: 40px;
  color: #3f4a3c;
}

.contato .subtitulo {
  margin-top: 10px;
  color: #7a845c;
  font-size: 20px;
}

/* Layout */
.contato-container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

/* INFO */
.contato-info {
  max-width: 300px;
  text-align: left;
}

.info-item {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}

.icon {
  font-size: 28px;
  color: #FF8886;
}

.info-item h3 {
  color: #3f4a3c;
}

.info-item p {
  color: #7a845c;
}

.info-item span {
  display: block;
  margin-top: 5px;
}

/* FORM */
.contato-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  text-align: left;
}

.contato-form label {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #3f4a3c;
}

.contato-form input,
.contato-form textarea {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #eee;
  outline: none;
}

.contato-form textarea {
  min-height: 120px;
  resize: none;
}

/* BOTÃO */
.contato-form button {
  margin-top: 20px;
  background: #FF8886;
  border-radius: 10px;
}